html,body *{
    margin: 0%
    padding: 0%;
    font-size: 100%
    }
body{
    background-color: white
}
.card-parent{
    display: flex;
 justify-content: space-around;
    flex-direction: column;

}
#cardChild{
    color: white;
    background-color: rgb(23, 26, 33);
    align-items: center;
    text-align: center;
    border: white solid 1px;
    border-width: 3px;
    padding: 3px;
    border-radius: 5px;
    margin: 2% ;
    height: 10rem;
    width: 15rem;
    box-shadow: 1rem 1rem 1rem grey;

}

